.hero {
  /* background-color: var(---bg1---); */
  background: rgb(43, 45, 66);
  background: linear-gradient(
    90deg,
    rgba(43, 45, 66, 1) 23%,
    rgba(141, 153, 174, 1) 23%,
    rgba(237, 242, 244, 1) 78%
  );
  background: rgb(13, 13, 13);
  background: -moz-linear-gradient(
    90deg,
    rgba(13, 13, 13, 1) 29%,
    rgba(24, 24, 24, 0.9954832274706757) 29%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(13, 13, 13, 1) 29%,
    rgba(24, 24, 24, 0.9954832274706757) 29%
  );
  background: linear-gradient(
    90deg,
    rgba(13, 13, 13, 1) 29%,
    rgba(24, 24, 24, 0.9954832274706757) 29%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0d0d0d",endColorstr="#181818",GradientType=1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  /* overflow: hidden; */
  height: 100vh;
}
.text-flicker-in-glow {
  font-family: "Bespoke Stencil", sans-serif;
  margin: 0px 5px;
  -webkit-animation: text-flicker-in-glow 2s linear both infinite;
  animation: text-flicker-in-glow 2s linear both infinite;
}
.typography {
  /* border: 1px solid red; */
  color: var(---textColor---);
  width: max-content;
  padding: 8px;
}

.highlight-Title {
  font-size: 4rem;
  margin: 0.5em 0;
  text-transform: uppercase;
}
.typo-Title {
  /* border: 10px double rgb(142, 213, 241); */
  color: var(---higlighterBg---);
  position: relative;
  background-color: transparent;
}
.typo-Title > svg {
  /* background-color: white; */
  width: 50px;
}
.typo-Title > svg > text {
  animation: stroke 3s infinite alternate;
  stroke-width: 2;
  stroke: #e7e9ec;
  color: var(---textColor---);
  font-size: var(---titleFont---);
}
.typo-subTitle {
  /* border: 1px solid red; */
  width: max-content;
  font-size: 1.75rem;
  /* margin: 0.5em 0; */
}
.typewriter {
  /* border: 1px solid red; */
  /* width: ; */
  overflow: hidden;
  border-right: 0.15em solid var(---bg2---);
  white-space: nowrap;
  /* margin: 0 auto; */
  letter-spacing: 0.15em;
  animation: typing 4.5s steps(30, end), blink-caret 0.75s step-end infinite;
}
.hero-body-text{
 /* border: 2px solid rgb(255, 253, 253); */
 padding:  18px;
 display: flex;
 justify-content: center;
 align-items: center;
}

.typo-paraText {
  padding: 3px;
  position: relative;
  font-size: 1.125rem;
  margin: auto;
  max-width: 600px;
  opacity: 0.5;
  z-index: 83;

}



.hero-img {
  /* width:100%; */
  padding: 28px;
  /* overflow: hidden; */
}
.hero-photo {
  height: 500px;
  width: 400px;
  margin: 28px;
  position: relative;
  z-index: 1;
}

.hero-photo > img {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
  transform: rotate(-1.5deg);
}
.paper {
  height: 500px;
  width: 400px;
  margin: auto;
  position: absolute;
  top: 0;
  z-index: -2;
}
.paper1 {
  background: url("/public/profile.jpg");
  transform: translateX(-45px) translateY(-7px) rotate(-6deg);
  transform-origin: top;
  box-shadow: #474747 -5px 5px, #6c6c6c -10px 10px, #121217c8 -15px 15px,
    var(---bg2---) -20px 20px, var(---bg3---) -25px 25px;
}
.paper2 {
  background-color: var(---bg3---);
  transform: translateX(-23px) translateY(-3px) rotate(-3.3deg);
  transform-origin: top;
}
@keyframes stroke {
  0% {
    fill: rgba(255, 252, 242, 0);
    stroke: rgba(255, 255, 255, 1);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
  }
  70% {
    fill: rgba(255, 252, 242, 0);
    stroke: rgba(255, 255, 255, 1);
  }
  80% {
    fill: rgba(255, 252, 242, 0);
    stroke: rgba(255, 255, 255, 1);
    stroke-width: 3;
  }
  100% {
    fill: rgba(255, 252, 242, 1);
    stroke: rgba(255, 255, 255, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}
/* The typing effect */
@keyframes typing {
  from {
    width: 0px;
  }
  to {
    width: 450px;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(---bg2---);
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2024-5-25 15:26:3
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-flicker-in-glow
 * ----------------------------------------
 */
@-webkit-keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgb(142, 213, 241), 0 0 60px rgb(142, 213, 241);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgb(142, 213, 241), 0 0 60px rgb(142, 213, 241);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
}
@keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
}

@media (max-width: 350px) {
  .typo-Title > svg {
    /* border: 1px solid red;  */
    width: 6vw !important;
    font-size: 13px;
  }
  .typo-subTitle {
    font-size: 0.65rem !important;
    /* width: 50%; */
  }
  .typo-paraText {
    margin: auto;
    width: 80%;
    font-size: 0.75rem !important;
  }
}
@media (max-width: 577px) {
  .hero {
    height: 100vh;
  }
  .typo-Title > svg {
    /* background-color: white; */
    width: 35px;
  }
  .highlight-Title {
    font-size: 2rem;
  }
  .typo-subTitle {
    font-size: 1.225rem;
  }
  .typo-paraText {
    font-size: 1rem;
    /* border: 1px solid red; */
    max-width: 500px;
  }
  .hero-img {
    margin-bottom: 8px;
  }
  .hero-photo {
    max-height: 400px;
    max-width: 300px;
    min-height: 200px;
    min-width: 100px;
    transform: scale(1.4);
  }
  .hero-photo > img {
    transform: scale(1.4);
  }
  .paper {
    display: none;
    min-width: 100px;
    min-height: 200px;
    max-width: 300px;
    max-height: 400px;
  }
}

@media (max-width: 769px) {
  .hero {
    /* border: 1px solid green; */
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
    text-align: center;
  }
  .highlight-Title {
    font-size: 2rem;
  }
  .typo-Title > svg {
    /* background-color: white; */
    width: 40px;
  }
  .hero-img > .hero-photo {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }
  .typewriter {
    margin: 0 auto;
  }
  .hero > .typography {
    position: absolute;
    z-index: 2;
    /* text-align: center; */
  }
}

@media (max-width: 1144px) {
  .hero {
    /* border: 1px solid red; */
    flex-wrap: nowrap;
    overflow: hidden;
  }
  .typography {
    padding: 0px 60px;
  }
  .highlight-Title {
    font-size: 1.736rem;
  }
  .typo-subTitle {
    font-size: 1.125rem;
  }
  .typo-Title > svg {
    /* background-color: white; */
    width: 32px;
  }
  .typo-paraText {
    font-size: 1.125rem;
  }
  .hero-img {
    /* border: 1px solid red; */
    width: max-content;
  }
  .hero-photo {
    /* border: 1px solid green; */
    max-width: 350px;
  }
  .paper {
    max-width: 350px;
  }
  .typography {
    z-index: 8;
  }
  @keyframes typing {
    from {
      width: 0px;
    }
    to {
      width: 320px;
    }
  }
}
